workdir: {{ workdir }}
amrfinder: {{ amrfinder }}
mduqc: {{ mduqc }}
script_path: "{{ script_path }}"
samples: {{ samples }}
species_detect: {{ species_detect }}
qc: {{ qc }}
singularity_path: {{ singularity_path }}
final_output: {{final_output}}
database_version: {{ database_version }}
