workdir: {{ workdir }}
amrfinder: {{ amrfinder }}
mduqc: {{ mduqc }}
script_path: "{{ script_path }}"
samples: {{ samples }}
qc: {{ qc }}
singularity_path: {{ singularity_path }}
final_output: {{final_output}}
